.bg-car {
  height: calc(100vh - 115px);
  width: 100%;

  & img {
    height: calc(100vh - 115px);
    align-items: center;
    @media only screen and (max-width: $bp-small) {
      margin-left: -8rem;
      // width: 50%;
    }
  }
}

.card-1 {
  background-color: #e1e0dc;
}
.card-2 {
  background-color: #96192d;
  color: $color-white;
}
.card-3 {
  background-color: #51238d;
  color: $color-white;
}
.card-details {
  width: 60%;
  position: absolute !important;
  top: 50px;
  left: 30% !important;
  animation: moveInBottom 2s ease-in;
  @media only screen and (max-width: $bp-largest) {
    left: 35% !important;
  }
}
#caption {
  @media only screen and (max-width: $bp-small) {
    display: block !important;
    inset: 0;
    margin: auto;
    right: 0;
    left: 0 !important;
    z-index: 3;
    text-align: center;
    width: 100%;
    padding: 1.25rem 7rem;
    margin-top: 10rem;
  }
}
.carousel-title {
  font-size: 6rem;
  font-family: $font-display;
  text-align: end;
  margin-bottom: 2rem;
  font-weight: 900;

  @media only screen and (max-width: $bp-largest) {
    font-size: 4.8rem;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 3.2rem;
  }
  @media only screen and (max-width: $bp-small) {
    text-align: center;
  }
}
.carol-title:nth-child(2) {
  width: 100%;
}
.card-1-title {
  color: $color-primary;
  @media only screen and (max-width: $bp-small) {
    color: $color-white;
  }
}

.caroseul-details {
  margin-right: 0;
  font-size: 2.5rem;
  font-family: $font-primary;
  text-align: end;
  padding-left: 20rem;
  font-weight: 400;
  @media only screen and (max-width: $bp-largest) {
    font-size: 2rem;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 1.6rem;
  }
  @media only screen and (max-width: $bp-small) {
    text-align: center;
    padding-left: 0;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.background {
  display: none;
  @media only screen and (max-width: $bp-small) {
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 90%;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 2;
  }
}
