.loja {
  background-color: #f6f6ee;
  // height: 100vh;
  padding: 20rem 0;
  scroll-margin-top: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    width: 60%;
  }
  &__img {
    width: 60%;
    &--img {
      width: 100%;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
    }
  }
}
.bg-cdi {
  background-image: url(../imgs/fundo-Idosos.jpg);
  background-position: center;
  background-size: cover;
}
.bg-rh {
  background-image: url(../imgs/fundo-rececionista-05.jpg);
  background-position: center;
  background-size: cover;
}
.bg-iai {
  background-image: url(../imgs/fundo-informatica.jpg);
  background-position: center;
  background-size: cover;
}
.accordion-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem !important;
}
.accordion-button {
  font-size: 3rem !important;
  font-weight: 900;
  font-family: $font-display;
}
.accordion-button:not(.collapsed) {
  background-color: $color-primary !important;
  color: white !important;
}
.btn--loja {
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 9px;
  background-color: #7dc2a6;
  width: 120%;
  text-align: center;
}
