@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proxima\ nova\ adobe\ medium.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proxima\ nova\ adobe\ bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: "Matthan Sans";
  src: url(../fonts/Matthan\ Sans\ Regular.ttf);
  font-weight: 400;
}
