*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: clip;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Proxima Nova", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
  height: 100%;
  overflow-x: clip;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proxima\ nova\ adobe\ medium.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proxima\ nova\ adobe\ bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Matthan Sans";
  src: url(../fonts/Matthan\ Sans\ Regular.ttf);
  font-weight: 400;
}
.bg-car {
  height: calc(100vh - 120px);
  width: 100%;
}
.bg-car img {
  height: calc(100vh - 120px);
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .bg-car img {
    margin-left: -6rem;
  }
}

.card-1 {
  background-color: #e1e0dc;
}

.card-2 {
  background-color: #96192d;
  color: #fff;
}

.card-3 {
  background-color: #51238d;
  color: #fff;
}

.card-details {
  width: 50%;
  position: absolute !important;
  top: 50px;
  left: 40% !important;
  animation: moveInBottom 2s ease-in;
}
@media only screen and (max-width: 75em) {
  .card-details {
    left: 40% !important;
  }
}

.carousel-title {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  margin-bottom: 2rem;
  font-weight: 900;
}
@media only screen and (max-width: 75em) {
  .carousel-title {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 50em) {
  .carousel-title {
    font-size: 3.2rem;
  }
}

.card-1-title {
  color: #013167;
}

.caroseul-details {
  font-size: 2.5rem;
  font-family: "Proxima Nova", sans-serif;
  text-align: end;
  font-weight: 400;
}
@media only screen and (max-width: 75em) {
  .caroseul-details {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 50em) {
  .caroseul-details {
    font-size: 1.6rem;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.booksection {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f7f6;
}
.booksection__title {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booksection__title--text {
  font-size: 4.2rem;
}
@media only screen and (max-width: 50em) {
  .booksection__title--text {
    text-align: center;
  }
}
.booksection__books {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  padding: 5rem 4rem;
  gap: 8rem;
}
@media only screen and (max-width: 50em) {
  .booksection__books {
    width: 100%;
  }
}
.booksection__book-1 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (max-width: 50em) {
  .booksection__book-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.booksection__book-1--img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .booksection__book-1--img {
    width: 100%;
  }
}
.booksection__book-1--img--cover {
  width: 70%;
}
.booksection__book-1--details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 8rem;
}
@media only screen and (max-width: 50em) {
  .booksection__book-1--details {
    width: 100%;
    padding: 3rem 2rem;
    text-align: center;
  }
}
.booksection__book-1--header {
  font-size: 3rem;
}
.booksection__book-1--text {
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: justify;
}
.booksection__book-2 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (max-width: 50em) {
  .booksection__book-2 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.booksection__book-2--details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 8rem;
}
@media only screen and (max-width: 50em) {
  .booksection__book-2--details {
    width: 100%;
    padding: 3rem 2rem;
    text-align: center;
  }
}
.booksection__book-2--header {
  font-size: 3rem;
}
.booksection__book-2--text {
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: justify;
}
.booksection__book-2--img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .booksection__book-2--img {
    width: 100%;
  }
}
.booksection__book-2--img--cover {
  width: 70%;
}

#books {
  align-self: flex-end;
}

.header {
  background-color: #013167;
  width: 100%;
  position: sticky;
  z-index: 15;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__logo {
  margin: 2rem;
  margin-left: 4.7rem;
  width: 250px;
}

.nav-bar__navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-right: 4rem;
}
.nav-bar__navigation--link {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  color: #fff;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-bar__navigation--link:link, .nav-bar__navigation--link:visited {
  text-decoration: none;
  cursor: pointer;
}
.nav-bar__navigation--link:active, .nav-bar__navigation--link:hover {
  color: #fff;
  scale: 1.2;
}

.btn-mobile-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
  margin-right: 4rem;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
  color: #013167;
}

@media (max-width: 59em) {
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  .nav-bar {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name=close-outline] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name=menu-outline] {
    display: none;
  }
  .nav-bar__navigation {
    flex-direction: column;
  }
  .nav-bar__navigation--link {
    font-size: 2rem;
    color: #013167;
  }
}
.livro-1 {
  background-image: url(../imgs/fundo-Idosos.jpg);
}

.livro-2 {
  background-image: url(../imgs/fundo-rececionista.jpg);
  background-color: #f6f6ee;
}

.livro-3 {
  background-image: url(../imgs/fundo-informatica.jpg);
}

.section-livro {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem;
}

.livro {
  display: flex;
  padding: 4rem;
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .livro {
    flex-direction: column;
    padding: 2rem;
  }
}
.livro__capa {
  width: 50%;
}
@media only screen and (max-width: 37.5em) {
  .livro__capa {
    width: 100%;
  }
}
.livro__capa--img {
  width: 120%;
}
.livro__details {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .livro__details {
    width: 100%;
  }
}
.livro__details--header-text {
  font-size: 6rem !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--header-text {
    font-size: 3.6rem !important;
  }
}
.livro__details--text-header {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Proxima Nova", sans-serif;
}
.livro__details--list-item {
  font-size: 2rem;
  font-family: "Proxima Nova", sans-serif;
}
.livro__details--author {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
  color: #1c7e82;
  font-size: 3rem;
  text-align: end;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--author {
    line-height: 0.8;
    gap: 2rem;
  }
}
.livro__details--author span {
  display: block;
  margin-bottom: -1.5rem;
  font-size: 2rem;
  color: #e85b76;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--author span {
    margin-bottom: 0;
  }
}
.livro__details--author-1 {
  width: 50%;
  font-family: "Matthan Sans", sans-serif;
}
.livro__details--author-2 {
  width: 50%;
  font-family: "Matthan Sans", sans-serif;
}

.livro__details--text-anexo {
  font-size: 1.9rem;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  margin-top: 2rem;
  background-color: #b2e2f8;
}

#rececionista {
  color: #fc5658;
}
#rececionista span {
  color: #f8b92e;
}

#informatica {
  color: #6b6b6b;
}
#informatica span {
  color: #b2e2f8;
}

.formsection {
  background-color: #aaa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__wrapper {
  background-image: url(../imgs/logo-oficium-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 9px;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #013167;
}
@media only screen and (max-width: 50em) {
  .form__wrapper {
    height: 90%;
    width: 90%;
    justify-content: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
@media only screen and (max-width: 50em) {
  .form {
    width: 80%;
    margin-left: 0;
  }
}
.form__group {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 50em) {
  .form__group {
    align-items: center;
    justify-content: center;
  }
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(249, 247, 246, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 50em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(73, 80, 87, 0.1);
  border-bottom: 3px solid #013167;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #54483a;
}
.form__input::-webkit-input-placeholder {
  color: #6d5d4b;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form-btn, .form-btn:link, .form-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 50em) {
  .form-btn, .form-btn:link, .form-btn:visited {
    width: 60%;
  }
}
.form-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(73, 80, 87, 0.2);
}
.form-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.form-btn:active, .form-btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(73, 80, 87, 0.2);
}
.form-btn--white {
  background-color: #f9f7f6;
  color: #6d5d4b;
}
.form-btn--white::after {
  background-color: #f9f7f6;
}
.form-btn--green {
  background-color: #013167;
  color: #f9f7f6;
}
.form-btn--green::after {
  background-color: #013167;
}
.form-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.form-btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@media only screen and (max-width: 50em) {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.lancamentos {
  background-color: #e1e0c8;
  padding: 6rem;
}
@media only screen and (max-width: 37.5em) {
  .lancamentos {
    padding: 6rem 3rem;
  }
}
.lancamentos-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lancamentos__header {
  font-family: "Montserrat", sans-serif;
  color: #495057;
  font-weight: 900;
  font-size: 6rem !important;
}
@media only screen and (max-width: 37.5em) {
  .lancamentos__header {
    font-size: 3rem !important;
  }
}
.lancamentos__livros--img {
  width: 100%;
}

.outro {
  background-color: #f6f6ee;
  display: flex;
  flex-direction: column;
}
.outro__wrapper {
  display: flex;
  padding: 10rem 30rem;
  gap: 10rem;
}
@media only screen and (max-width: 50em) {
  .outro__wrapper {
    flex-direction: column;
    padding: 2rem 4rem;
  }
}
.outro__text {
  width: 60%;
}
@media only screen and (max-width: 50em) {
  .outro__text {
    width: 100%;
    background-image: url(../imgs/footer-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.outro__text--details {
  margin-top: 5rem;
  color: #495057;
  text-align: justify;
  font-size: 2.5rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}
.outro__img {
  width: 40%;
  background-image: url(../imgs/footer-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 50em) {
  .outro__img {
    width: 100%;
  }
}

.footer {
  display: flex;
  background-color: #013167;
  justify-content: space-between;
  padding: 8rem 4rem;
}
@media only screen and (max-width: 50em) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.footer__details--text {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
}
@media only screen and (max-width: 50em) {
  .footer__details--text {
    margin-top: 6rem;
  }
}/*# sourceMappingURL=main.css.map */