*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: clip;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Proxima Nova", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
  height: 100%;
  overflow-x: clip;
}

.display-none {
  display: none;
}

#alert {
  position: fixed;
  z-index: 30000;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.alert {
  flex-direction: column;
  background-color: #7dc2a6;
  gap: 2rem;
  padding: 2rem;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.alert__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.alert__header--icon {
  width: 25px;
}
.alert__header--title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}
.alert__text--details {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  align-items: center;
}

.bg-car {
  height: calc(100vh - 115px);
  width: 100%;
}
.bg-car img {
  height: calc(100vh - 115px);
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .bg-car img {
    margin-left: -8rem;
  }
}

.card-1 {
  background-color: #e1e0dc;
}

.card-2 {
  background-color: #96192d;
  color: #fff;
}

.card-3 {
  background-color: #51238d;
  color: #fff;
}

.card-details {
  width: 60%;
  position: absolute;
  top: 50px;
  left: 30%;
  animation: moveInBottom 2s ease-in;
}
@media only screen and (max-width: 75em) {
  .card-details {
    left: 35%;
  }
}

@media only screen and (max-width: 37.5em) {
  #caption {
    display: block !important;
    inset: 0;
    margin: auto;
    right: 0;
    left: 0;
    z-index: 3;
    text-align: center;
    width: 100%;
    padding: 1.25rem 7rem;
    margin-top: 10rem;
  }
}

.carousel-title {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  margin-bottom: 2rem;
  font-weight: 900;
}
@media only screen and (max-width: 75em) {
  .carousel-title {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 50em) {
  .carousel-title {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .carousel-title {
    text-align: center;
  }
}

.carol-title:nth-child(2) {
  width: 100%;
}

.card-1-title {
  color: #013167;
}
@media only screen and (max-width: 37.5em) {
  .card-1-title {
    color: #fff;
  }
}

.caroseul-details {
  margin-right: 0;
  font-size: 2.2rem;
  font-family: "Proxima Nova", sans-serif;
  text-align: end;
  padding-left: 20rem;
  font-weight: 400;
}
@media only screen and (max-width: 75em) {
  .caroseul-details {
    font-size: 1.9rem;
  }
}
@media only screen and (max-width: 50em) {
  .caroseul-details {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .caroseul-details {
    text-align: center;
    padding-left: 0;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.background {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .background {
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 90%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
}

.carousel-indicators {
  z-index: 20;
}

.lancamentos {
  background-color: #e1e0c8;
  padding: 6rem;
  scroll-margin-top: 115px;
}
@media only screen and (max-width: 37.5em) {
  .lancamentos {
    padding: 6rem 3rem;
  }
}
.lancamentos-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lancamentos__header {
  font-family: "Montserrat", sans-serif;
  color: #495057;
  font-weight: 900;
  font-size: 6rem;
}
@media only screen and (max-width: 37.5em) {
  .lancamentos__header {
    font-size: 3rem;
  }
}
.lancamentos__livros--img {
  width: 100%;
}

.livro-1 {
  background-image: url(../imgs/fundo-Idosos.avif);
}

.livro-2 {
  background-image: url(../imgs/fundo-rececionista.avif);
  background-color: #f6f6ee;
}

.livro-3 {
  background-image: url(../imgs/fundo-informatica.avif);
}

.section-livro {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem;
}

.livro {
  display: flex;
  padding: 4rem;
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .livro {
    flex-direction: column;
    padding: 2rem;
  }
}
.livro__capa {
  width: 50%;
}
@media only screen and (max-width: 37.5em) {
  .livro__capa {
    width: 100%;
  }
}
.livro__capa--img {
  width: 120%;
}
.livro__details {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .livro__details {
    width: 100%;
  }
}
.livro__details--header-text {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--header-text {
    font-size: 3.6rem;
  }
}
.livro__details--text-header {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Proxima Nova", sans-serif;
}
.livro__details--list-item {
  font-size: 2rem;
  font-family: "Proxima Nova", sans-serif;
}
.livro__details--author {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
  color: #1c7e82;
  font-size: 3rem;
  text-align: end;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--author {
    line-height: 0.8;
    gap: 2rem;
  }
}
.livro__details--author span {
  display: block;
  margin-bottom: -1.5rem;
  font-size: 2rem;
  color: #e85b76;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--author span {
    margin-bottom: 0;
  }
}
.livro__details--author-1 {
  width: 50%;
  font-family: "Matthan Sans", sans-serif;
}
.livro__details--author-2 {
  width: 50%;
  font-family: "Matthan Sans", sans-serif;
}

.livro__details--text-anexo {
  font-size: 1.9rem;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  margin-top: 2rem;
  background-color: #b2e2f8;
}

#rececionista {
  color: #fc5658;
}
#rececionista span {
  color: #f8b92e;
}

#informatica {
  color: #6b6b6b;
}
#informatica span {
  color: #b2e2f8;
}

.header {
  background-color: #013167;
  width: 100%;
  position: sticky;
  z-index: 15;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__logo {
  margin: 2rem;
  margin-left: 4.7rem;
  width: 250px;
}

.nav-bar__navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-right: 4rem;
}
.nav-bar__navigation--link {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  color: #fff;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-bar__navigation--link:link, .nav-bar__navigation--link:visited {
  text-decoration: none;
  cursor: pointer;
}
.nav-bar__navigation--link:active, .nav-bar__navigation--link:hover {
  color: #fff;
  scale: 1.2;
}

.btn-mobile-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
  margin-right: 4rem;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
  color: #013167;
}

@media (max-width: 59em) {
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  .nav-bar {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name=close-outline] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name=menu-outline] {
    display: none;
  }
  .nav-bar__navigation {
    flex-direction: column;
  }
  .nav-bar__navigation--link {
    font-size: 2rem;
    color: #013167;
  }
}
.form-ref {
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 9px;
  background-color: #7dc2a6;
}

.loja {
  background-color: #f6f6ee;
  padding: 10rem 0;
  scroll-margin-top: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loja__container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loja__img {
  width: 60%;
}
.loja__img--img {
  width: 100%;
}
.loja__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .loja__btn {
    margin-right: 0;
  }
}
.loja__btn--link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.bg-cdi {
  background-image: url(../imgs/fundo-Idosos.avif);
  background-position: center;
  background-size: cover;
}

.bg-rh {
  background-image: url(../imgs/fundo-rececionista-05.avif);
  background-position: center;
  background-size: cover;
}

.bg-iai {
  background-image: url(../imgs/fundo-informatica.avif);
  background-position: center;
  background-size: cover;
}

.accordion-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 9px;
}
@media only screen and (max-width: 37.5em) {
  .accordion-body {
    flex-direction: column;
    gap: 2rem;
  }
}

.accordion-button {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.accordion-button:not(.collapsed) {
  background-color: #013167;
  color: white;
}

.btn--loja {
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 9px;
  background-color: #7dc2a6;
  width: 120%;
  text-align: center;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: #495057;
  position: relative;
}

.nav.active {
  background-color: #013167;
  color: white;
}

.nav {
  width: 50%;
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 9px;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #013167;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 3px;
  background-color: #013167;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}

.nav-link:link,
.nav-link:visited {
  position: relative;
  z-index: 10;
}

.nav-link:hover::before,
.nav-link:focus::before {
  transform: scaleY(1);
  width: 100%;
}

.form__wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .form__wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.form__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a4676;
  padding: 4rem 20rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 9px;
}
@media only screen and (max-width: 50em) {
  .form__content {
    height: 90%;
    width: 90%;
    justify-content: center;
  }
}
@media only screen and (max-width: 75em) {
  .form__content {
    padding: 4rem 15rem;
  }
}
@media only screen and (max-width: 50em) {
  .form__content {
    padding: 4rem 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__content {
    padding: 4rem 5rem;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 50em) {
  .form {
    width: 80%;
    margin-left: 0;
  }
}
.form__group {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 50em) {
  .form__group {
    align-items: center;
    justify-content: center;
  }
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 7rem;
  border-radius: 2px;
  background-color: rgba(249, 247, 246, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 50em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(73, 80, 87, 0.1);
  border-bottom: 3px solid #013167;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #54483a;
}
.form__input::-webkit-input-placeholder {
  color: #6d5d4b;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

#phone {
  padding: 1.5rem 7rem;
}

.form__success {
  display: none;
}

.form__success-active {
  display: block;
  background-color: green;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#comment {
  padding: 1.5rem;
}

.comment__label {
  margin-left: 0;
  margin-bottom: 1rem;
}

.form-open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
}

.icon-close-form {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  background-color: #1a4676;
  cursor: pointer;
}

.outro {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 115px;
  position: relative;
}
.outro__wrapper {
  display: flex;
  padding: 10rem 20rem;
  gap: 10rem;
}
@media only screen and (max-width: 50em) {
  .outro__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem;
  }
}
.outro__text {
  width: 60%;
}
@media only screen and (max-width: 50em) {
  .outro__text {
    width: 100%;
    background-image: url(../imgs/footer-img.png);
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.outro__text--details {
  margin-top: 5rem;
  color: #495057;
  text-align: justify;
  font-size: 2.5rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 50em) {
  .outro__text--details {
    margin: 5rem;
  }
}
.outro__img {
  width: 40%;
  background-image: url(../imgs/footer-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 50em) {
  .outro__img {
    display: none;
  }
}

.footer {
  display: flex;
  background-color: #013167;
  justify-content: space-between;
  padding: 8rem 4rem;
}
@media only screen and (max-width: 50em) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.footer__details--text {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
}
@media only screen and (max-width: 50em) {
  .footer__details--text {
    margin-top: 6rem;
  }
}

.address-link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.footer__btn {
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer__btn:hover {
  scale: 1.1;
}

.form-btn, .form-btn:link, .form-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 7rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  margin-top: 3rem;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 50em) {
  .form-btn, .form-btn:link, .form-btn:visited {
    width: 100%;
  }
}
.form-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(73, 80, 87, 0.2);
}
.form-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.form-btn:active, .form-btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(73, 80, 87, 0.2);
}
.form-btn--white {
  background-color: #f9f7f6;
  color: #6d5d4b;
}
.form-btn--white::after {
  background-color: #f9f7f6;
}
.form-btn--green {
  background-color: #013167;
  color: #f9f7f6;
}
.form-btn--green::after {
  background-color: #013167;
}
.form-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.form-btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@media only screen and (max-width: 50em) {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proxima\ nova\ adobe\ medium.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proxima\ nova\ adobe\ bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Matthan Sans";
  src: url(../fonts/Matthan\ Sans\ Regular.ttf);
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */