*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: clip;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Proxima Nova", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
  height: 100%;
  overflow-x: clip;
}

.bg-car {
  height: calc(100vh - 115px);
  width: 100%;
}
.bg-car img {
  height: calc(100vh - 115px);
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .bg-car img {
    margin-left: -6rem;
  }
}

.card-1 {
  background-color: #e1e0dc;
}

.card-2 {
  background-color: #96192d;
  color: #fff;
}

.card-3 {
  background-color: #51238d;
  color: #fff;
}

.card-details {
  width: 50%;
  position: absolute !important;
  top: 50px;
  left: 40% !important;
  animation: moveInBottom 2s ease-in;
}
@media only screen and (max-width: 75em) {
  .card-details {
    left: 40% !important;
  }
}

.carousel-title {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  margin-bottom: 2rem;
  font-weight: 900;
}
@media only screen and (max-width: 75em) {
  .carousel-title {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 50em) {
  .carousel-title {
    font-size: 3.2rem;
  }
}

.card-1-title {
  color: #013167;
}

.caroseul-details {
  font-size: 2.5rem;
  font-family: "Proxima Nova", sans-serif;
  text-align: end;
  font-weight: 400;
}
@media only screen and (max-width: 75em) {
  .caroseul-details {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 50em) {
  .caroseul-details {
    font-size: 1.6rem;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.lancamentos {
  background-color: #e1e0c8;
  padding: 6rem;
  scroll-margin-top: 115px;
}
@media only screen and (max-width: 37.5em) {
  .lancamentos {
    padding: 6rem 3rem;
  }
}
.lancamentos-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lancamentos__header {
  font-family: "Montserrat", sans-serif;
  color: #495057;
  font-weight: 900;
  font-size: 6rem !important;
}
@media only screen and (max-width: 37.5em) {
  .lancamentos__header {
    font-size: 3rem !important;
  }
}
.lancamentos__livros--img {
  width: 100%;
}

.livro-1 {
  background-image: url(../imgs/fundo-Idosos.jpg);
}

.livro-2 {
  background-image: url(../imgs/fundo-rececionista.jpg);
  background-color: #f6f6ee;
}

.livro-3 {
  background-image: url(../imgs/fundo-informatica.jpg);
}

.section-livro {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem;
}

.livro {
  display: flex;
  padding: 4rem;
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .livro {
    flex-direction: column;
    padding: 2rem;
  }
}
.livro__capa {
  width: 50%;
}
@media only screen and (max-width: 37.5em) {
  .livro__capa {
    width: 100%;
  }
}
.livro__capa--img {
  width: 120%;
}
.livro__details {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .livro__details {
    width: 100%;
  }
}
.livro__details--header-text {
  font-size: 6rem !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--header-text {
    font-size: 3.6rem !important;
  }
}
.livro__details--text-header {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Proxima Nova", sans-serif;
}
.livro__details--list-item {
  font-size: 2rem;
  font-family: "Proxima Nova", sans-serif;
}
.livro__details--author {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
  color: #1c7e82;
  font-size: 3rem;
  text-align: end;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--author {
    line-height: 0.8;
    gap: 2rem;
  }
}
.livro__details--author span {
  display: block;
  margin-bottom: -1.5rem;
  font-size: 2rem;
  color: #e85b76;
}
@media only screen and (max-width: 37.5em) {
  .livro__details--author span {
    margin-bottom: 0;
  }
}
.livro__details--author-1 {
  width: 50%;
  font-family: "Matthan Sans", sans-serif;
}
.livro__details--author-2 {
  width: 50%;
  font-family: "Matthan Sans", sans-serif;
}

.livro__details--text-anexo {
  font-size: 1.9rem;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  margin-top: 2rem;
  background-color: #b2e2f8;
}

#rececionista {
  color: #fc5658;
}
#rececionista span {
  color: #f8b92e;
}

#informatica {
  color: #6b6b6b;
}
#informatica span {
  color: #b2e2f8;
}

.header {
  background-color: #013167;
  width: 100%;
  position: sticky;
  z-index: 15;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__logo {
  margin: 2rem;
  margin-left: 4.7rem;
  width: 250px;
}

.nav-bar__navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-right: 4rem;
}
.nav-bar__navigation--link {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  color: #fff;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-bar__navigation--link:link, .nav-bar__navigation--link:visited {
  text-decoration: none;
  cursor: pointer;
}
.nav-bar__navigation--link:active, .nav-bar__navigation--link:hover {
  color: #fff;
  scale: 1.2;
}

.btn-mobile-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
  margin-right: 4rem;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
  color: #013167;
}

@media (max-width: 59em) {
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  .nav-bar {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name=close-outline] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name=menu-outline] {
    display: none;
  }
  .nav-bar__navigation {
    flex-direction: column;
  }
  .nav-bar__navigation--link {
    font-size: 2rem;
    color: #013167;
  }
}
.outro {
  background-color: #f6f6ee;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 115px;
}
.outro__wrapper {
  display: flex;
  padding: 10rem 20rem;
  gap: 10rem;
}
@media only screen and (max-width: 50em) {
  .outro__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
  }
}
.outro__text {
  width: 60%;
}
@media only screen and (max-width: 50em) {
  .outro__text {
    width: 100%;
    background-image: url(../imgs/footer-img.png);
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.outro__text--details {
  margin-top: 5rem;
  color: #495057;
  text-align: justify;
  font-size: 2.5rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 50em) {
  .outro__text--details {
    margin: 5rem;
  }
}
.outro__img {
  width: 40%;
  background-image: url(../imgs/footer-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 50em) {
  .outro__img {
    display: none;
  }
}

.footer {
  display: flex;
  background-color: #013167;
  justify-content: space-between;
  padding: 8rem 4rem;
}
@media only screen and (max-width: 50em) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.footer__details--text {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
}
@media only screen and (max-width: 50em) {
  .footer__details--text {
    margin-top: 6rem;
  }
}

.address-link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.footer__btn {
  cursor: pointer;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proxima\ nova\ adobe\ medium.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/proxima\ nova\ adobe\ bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Matthan Sans";
  src: url(../fonts/Matthan\ Sans\ Regular.ttf);
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */